<launch>
    <!-- Define arguments -->
        <arg name="camera_location" default="/dev/video0" />
        <arg name="camera_width" default="640" />
        <arg name="camera_height" default="480" />
        <arg name="camera_fps" default="30" />
        <arg name="camera_format" default="BGR" />
        <arg name="camera_topic" default="/camera/image_rect" />
        <arg name="custom_pipeline" default="" />

    <node pkg="gstreamer_ros_bridge" type="gstreamer_cam_node" name="gstreamer_cam_node" output="screen">
        <param name="camera_location" value="$(arg camera_location)" />
        <param name="camera_width" value="$(arg camera_width)" />
        <param name="camera_height" value="$(arg camera_height)" />
        <param name="camera_fps" value="$(arg camera_fps)" />
        <param name="camera_format" value="$(arg camera_format)" />
        <param name="camera_topic" value="$(arg camera_topic)" />
        
        <param name="custom_pipeline" value="$(arg custom_pipeline)"/>
    </node>
</launch>
