<launch>
    <node pkg="gstreamer_ros_bridge" type="gstreamer_bridge_node" name="gstreamer_bridge_node" output="screen">
        <!--params for camera to local ros nodes -->
        <param name="camera_location" value="/dev/video0"/>
        <param name="camera_width" value="1280"/>
        <param name="camera_height" value="720"/>
        <param name="camera_fps" value="60"/>
        
        <!--params for gstreamer pipeline to peer (over udp)-->
        <param name="bitrate" value="1000"/>
        <param name="mtu" value="500"/>
        <param name="gst_width" value="320"/>
        <param name="gst_height" value="180"/>
        <param name="gst_fps" value="15"/>

        <param name="ip" value="100.64.0.3"/>
        <param name="port" value="5602"/>

        <param name="gst_topic" value="/camera/image_rect"/>

        <!-- <param name="custom_pipeline" value= > -->
    </node>
</launch>