<launch>
    <node pkg="gstreamer_ros_bridge" type="gstreamer_cam_node" name="gstreamer_cam_node" output="screen">
        <!--params for camera a default v4l2 pipeline. Fill these in even if you are using a custom pipeline
        If using custom pipeline, ensure location, width, height, & fps are the same-->
        <param name="camera_location" value="/dev/video0"/>
        <param name="camera_width" value="1280"/>
        <param name="camera_height" value="720"/>
        <param name="camera_fps" value="30"/>
        <param name="camera_format" value="BGR"/> 
        <param name="camera_topic" value="/camera/image_rect"/>
        
        <!-- Custom Gstreamer pipeline. Uncomment to use. (only one at a time) -->
        <!-- <param name="custom_pipeline" value= 
        "v4l2src device=/dev/video0 ! videoconvert ! videoscale ! video/x-raw,width=1280,height=720,framerate=60/1 !
         appsink name=sink sync=false"
        /> -->

        <!-- Jetson nano IMX219 pipeline  -->
        <!-- <param name="custom_pipeline" value= 
        "nvarguscamerasrc sensor-mode=4 !
        video/x-raw(memory:NVMM),width=1280,height=720,format=NV12,framerate=30/1 !
        nvvidconv ! video/x-raw,format=RGBA,width=1280,height=720 !
        videoconvert ! video/x-raw,format=RGB !
        appsink name=sink sync=false" />
        </node> -->

        <!-- Libcamera pipeline -->

</launch>
